<h1>CRUD</h1>
<!-- GET -->
<div class="row">
    <div class="col-md-4">
        <div class="btn btn-success btn-block" ng-click="loadGetData()">GET</div>
    </div>
</div>

<!-- Display GET items -->
<div class="row" ng-show="showAllItemsContainer" class="allItems">
    <h2>All Items</h2>

    <!-- toggle show and hide items -->
    <div class="col-md-5">
        <button class="btn btn-block btn-warning" ng-click="toggleShowHide()">{{hideShowButtonName}}</button>
    </div>

    <!-- individual items -->
    <div class="col-md-4" ng-repeat="sampleItem in sampleObjects" class="allItems" ng-show="allItems">
        <button class="btn btn-default btn-block" ng-click="populateField(sampleItem)">{{sampleItem}}</button>
    </div>

    <div class="col-md-4" ng-show="showEdit">
        <h2>EDIT ITEM</h2>
        <form ng-submit="updateEditItem()">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       id="sampleID"
                       ng-model="updateItem.id"
                       readonly>
            </div>
            <div class="form-group">
                <label for="sampleName">Name</label>
                <input type="text"
                       class="form-control"
                       id="sampleName"
                       ng-model="updateItem.name">
            </div>
            <div class="form-group">
                <label for="sampleValue">Value</label>
                <input type="text"
                       class="form-control"
                       id="sampleValue"
                       ng-model="updateItem.value">
            </div>
            <button type="submit" class="btn btn-info">Update</button>
            <button class="btn btn-danger" ng-click="removeItem(updateItem)">Delete</button>
        </form>
    </div>

    <hr>
    <br>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="btn btn-primary btn-block" ng-click="showPost=true">Create New Item</div>
    </div>
</div>
<br>
<div class="row" ng-show="showPost">
    <div class="col-md-4">
    <h2>POST</h2>
        <form ng-submit="postObject()">
            <div class="form-group">
                <label for="sampleName">Name</label>
                <input type="text" class="form-control" id="sampleNamePost" placeholder="Name" ng-model="object.name">
            </div>
            <div class="form-group">
                <label for="sampleValue">Value</label>
                <input type="text" class="form-control" id="sampleValuePost" placeholder="Value" ng-model="object.value">
            </div>
            <button type="submit" class="btn btn-default">POST</button>
        </form>
    </div>
</div>
