<h1 class="text-center">Contact Manager and REST</h1>
<!-- GET -->
<div class="row">
    <div class="col-md-12">
        <div class="btn btn-success btn-block" ng-click="loadGetData()"><span class="glyphicon glyphicon-user"></span>
            Contacts
        </div>
    </div>
</div>

<!-- Display GET items -->
<div class="row" ng-show="showAllItemsContainer" class="allItems">
    <div class="col-md-12">
        <h2>All Contacts</h2>
    </div>

    <!-- search contacts -->
    <div class="col-md-12">
        <input class="form-control" type="text" placeholder="Search Contacts" ng-model="searchText">
        <p><b>Order By:</b> <span ng-click="order(false)" ng-class="{'text-warning': orderAsc}">A-Z</span> | <span
                ng-click="order(true)" ng-class="{'text-warning': orderDesc}">Z-A</span> <b>Sort By:</b> <span
                ng-click="sort('name')" ng-class="{'text-warning': sortName}">Name</span> | <span
                ng-click="sort('value')" ng-class="{'text-warning': sortValue}">Value</span></p>
    </div>

    <!-- toggle show and hide items -->
    <div class="col-md-12">
        <button class="btn btn-block btn-warning" ng-click="toggleShowHide()">{{hideShowButtonName}}</button>
    </div>
    <br>

    <!-- loading animation -->
    <div id="fountainTextG" ng-show="">
        <div id="fountainTextG_1" class="fountainTextG">L</div>
        <div id="fountainTextG_2" class="fountainTextG">o</div>
        <div id="fountainTextG_3" class="fountainTextG">a</div>
        <div id="fountainTextG_4" class="fountainTextG">d</div>
        <div id="fountainTextG_5" class="fountainTextG">i</div>
        <div id="fountainTextG_6" class="fountainTextG">n</div>
        <div id="fountainTextG_7" class="fountainTextG">g</div>
    </div>

    <!-- individual items -->
    <div class="col-md-12" ng-repeat="sampleItem in sampleObjects | filter:searchText | orderBy:sortType:reverse"
         class="allItems text-justify" ng-show="allItems">
        <button class="btn btn-default btn-block" ng-click="populateField(sampleItem)">
            <b>{{sampleItem.name ? sampleItem.name : "Mystery Contact"}}</b>
            -
            <span class="text-primary"><i>{{sampleItem.value ? sampleItem.value : "Unknown"}}</i></span>
        </button>
    </div>

    <!-- edit / delete item -->
    <div class="col-md-12" ng-show="showEdit">
        <!-- button to close edit -->
        <span class="glyphicon glyphicon-remove-circle pull-right" ng-click="showEdit=false"></span>

        <h2>EDIT Contact</h2>
        <form ng-submit="updateEditItem()">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       id="sampleID"
                       ng-model="updateItem.id"
                       readonly>
            </div>
            <div class="form-group">
                <label for="sampleName">Name</label>
                <input type="text"
                       class="form-control"
                       id="sampleName"
                       ng-model="updateItem.name">
            </div>
            <div class="form-group">
                <label for="sampleValue">Contact Info</label>
                <input type="text"
                       class="form-control"
                       id="sampleValue"
                       ng-model="updateItem.value">
            </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-info">Update</button>
                <button class="btn btn-danger" ng-click="removeItem(updateItem)">Delete</button>
            </div>
        </form>
    </div>

    <br>
</div>

<!-- add new contact -->
<div class="row">
    <div class="col-md-12">
        <div class="btn btn-primary btn-block" ng-click="showPost=true"><span class="glyphicon glyphicon-plus"></span>
            Add New Contact
        </div>
    </div>
</div>
<br>

<!-- POST -->
<div class="row" ng-show="showPost">
    <div class="col-md-12">
        <h2>POST</h2>
        <form ng-submit="postObject()">
            <div class="form-group">
                <label for="sampleName">Name</label>
                <input type="text" class="form-control" id="sampleNamePost" placeholder="Name" ng-model="object.name">
            </div>
            <div class="form-group">
                <label for="sampleValue">Contact Info</label>
                <input type="text" class="form-control" id="sampleValuePost" placeholder="Value"
                       ng-model="object.value">
            </div>
            <button type="submit" class="btn btn-default pull-right">POST</button>
        </form>
    </div>
</div>
